.c-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.c-contactform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.c-contactform h2 {
    color: #3c4043;
    font-size: 27px;
    font-weight: 700;
    margin: 20px 0;
    font-family: "PT Serif", serif;
  }
  .c-contactform {
    border-radius: 5px;
    width: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

  .c-container .c-contactform .c-formbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
  }
  .c-container .c-contactform .c-formbox .c-inputbox {
    position: relative;
    margin-bottom:  30px;
  }
  .c-container .c-contactform .c-formbox .c-inputbox.w50 {
    width: 47%;
    font-family: "PT Serif", serif;
  }
  .c-container .c-contactform .c-formbox .c-inputbox.w100 {
    width: 100%;
    font-family: "PT Serif", serif;
  }
  .c-container .c-contactform .c-formbox .c-inputbox input {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
    font-family: "PT Serif", serif;
  }
  .c-container .c-contactform .c-formbox .c-inputbox textarea {
    margin-top: 20px;
    width: 100%;
    resize: none;
    padding: 5px ;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    outline: none;
    height: 120px;
    border: 1px solid #777;
  }
  .c-container .c-contactform .c-formbox .c-inputbox span {
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    font-family: "PT Serif", serif;
  }

  .c-container .c-contactform .c-formbox .c-inputbox input[type="submit"] {
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    border: None;
    border: 2px solid #3db2ff;
    max-width: 150px;
    padding: 12px;
    transition: 0.3s;
    background-color: #3db2ff;
  }
  .c-container .c-contactform .c-formbox .c-inputbox input[type="submit"]:hover {
    border: 2px solid #3db2ff;
    background-color: white;
    color: black;
  }
  .c-received {
    /* padding: 3px 5px; */
    margin: 20px ;
    padding-left: 5px;
    color: #3c4043;
    font-size: 20px;
    background-color: #3db2ff;
    border-radius: 5px;
    width: 95%;
  }
  .c-receivepara{
      margin-bottom: 0;
  }