  /* footer start  */
  footer {
    text-align: center;
  }
  footer p {
    color: gray;
  }
  footer h3 {
    padding-bottom: 3%;
  }
  .jg-contact-flex-div {
    margin: 0 auto;
  }
  .jg-contact {
    background-color: #d5d5d5;
    display: flex;
    padding: 1%;
  }
  .jg-contact-us-icons {
    margin: 0 1%;
  }
  .jg-contact-us-icons div {
    margin: 5% 0%;
  }
  .jg-contact-us-icons p {
    display: inline-block;
  }
  .jg-reach-us img {
    margin: 3% 0;
  }
  
  /* footer end  */
  
  /*MEDIA QUERIES*/
  /*Tablet*/
  #contact-section{
    padding-top: 83px;
    /* min-height: calc(100vh - 900px); */
  }
  @media only screen and (max-width: 992px) {
    .jg-item-bg {
      border-radius: 0%;
      width: 100%;
      margin: 0;
      padding: 0% 5%;
    }
    .jg-item-bg ul {
      gap: 0px;
    }
  }
  