.jg-review-section {
  width: 65%;
}
.jg-review-div {
  display: flex;
  flex-direction: row;
  margin: 1.5% 0%;
}
.jg-review-title {
  width: 25%;
  margin-right: 5%;
}
.jg-reviews {
  width: 100%;
  background-color: #f4f4f4;
  flex-direction: row;
  display: flex;
  padding: 3% 5%;
  height: calc(100vh - 356.04px);
  padding-top: 170px;
}
.jg-review-bar-div {
  display: flex;
  flex-direction: row;
}
.jg-review-bar {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  display: block;
  height: 10px;
  width: 300px;
  margin-top: 2%;
}

.jg-review-percent {
  background: linear-gradient(to left, #308bc7, #3db2ff);
  box-shadow: 0 3px 3px -4px #3db2ff, 0 2px 4px #3db2ff;
  border-radius: 20px;
  display: flex;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  opacity: 1;
}

/* ***************** */
.jg-review-overall-rating {
  padding: 3% 10%;
  background: #d5d5d5;
  box-shadow: 0 3px 3px -7px white, 0 2px 7px white;
  text-align: center;
  border-radius: 20px;
}

.jg-review-overall-rating h2 {
  color: #3db2ff;
}

.jg-review-section2 {
  width: 35%;
}
@media only screen and (max-width: 768px) {
  .jg-reviews {
    display: inline-block;
  }
  .jg-review-div {
    display: block;
  }
}
