.carouselExampleIndicators{
  /* margin-top: 85px; */
}
.carousel-inner{
  margin: 0;
}
.carousel-control-prev,.carousel-control-next {
  /* background-color: black; */
  height: 44vh;
  width: 3%;
  margin-top: 83px;
  opacity: 1;
}
/* .carousel-control-prev:hover,.carousel-control-next:hover{
  
} */
.carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  /* color: #fff; */
  /* text-decoration: none; */
  /* outline: 0; */
  opacity: 1;
}
.cs-arrow{
  background-color: #3db2ff;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 10vh; */
  /* border-radius: 50%; */
  /* border-radius: 20px; */
}
.cs-arrow:hover{
  /* background-color: blue; */
  opacity: 1;
}

